{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Form Pembuatan RESEP</h1>//TODO
    <hr class="my-4">
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'create_resep' %}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-3">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Id Konsultasi</label>
                    <div class="col-sm-4">
                        {{ form.id_konsultasi }}
                    </div>
                </div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Id Transaksi</label>
                    <div class="col-sm-4">
						{{ form.id_transaksi }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kode Obat</label>
                    <div class="col-sm-4">
						{{ form.kode1 }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kode Obat</label>
                    <div class="col-sm-4">
						{{ form.kode2 }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kode Obat</label>
                    <div class="col-sm-4">
						{{ form.kode3 }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kode Obat</label>
                    <div class="col-sm-4">
						{{ form.kode4 }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>

{% endblock %}