{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'daftar_transaksi' %}"></a>
        <h1>Daftar RESEP</h1>//TODO
        <div class="col-md-12 text-center">
                <table border="1" style="width: 100%">
                    <thead>
                        <th>Nomor Resep</th>
                        <th>Total Harga</th>
                        <th>ID Konsultasi</th>
                        <th>ID Transaksi</th>
                        <th>Daftar Obat</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for i in daftar_resep %}
                    <tr>
                        {% csrf_token %}
                            <td>{{i.no_resep}}</td>
                            <td>Rp{{i.total_harga}}</td>
                            <td>{{i.id_konsultasi}}</td>
                            <td>{{i.id_transaksi}}</td>
                            <td>//TODO{{i.waktu_pembayaran}}</td>
                            <td>
                                <div class="pi-draggable btn-group" draggable="true">
                                    <a><button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a></div>
                            </td>
                            <input type="hidden" name="id_transaksi" value="{{i.id_transaksi}}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}