{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <title>MEDIKAGO</title>
{% endblock %}

{% block content %}
    <h1>WELCOME TO <br> </h1>
    <h1>MEDIKAGO</h1>
    <h1>WEBSITE</h1>

    <h4> BY KELOMPOK 36 </h4>
        <div>
            <br><br>
          <p>
            <a class="btn btn-info" href="{% url 'choice' %}" >Register</a>
            <a class="btn btn-info"  href="{% url 'loginpage' %}">Login</a>
          </p>
        </div>
{% endblock %}
