{% extends "base.html" %}
{% load static %}

{% block additionalHeader %}
    <title>Buat Transaksi</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Form Pembuatan Transaksi</h1>
        <hr class="my-4">

        <form class="text-left" method="POST" action="{% url 'create_transaksi' %}" >
                {% csrf_token %}
                    <label for="nomor_rekam_medis_dropdown">Nomor Rekam Medis Pasien</label>
                    <select name="nomor_rekam_medis_dropdown" class="form-group form-control" id="nomor_rekam_medis_dropdown">
                      {% for i in data %}
                      <option value={{i.0}}>{{i.0}}</option>
                      {% endfor %}
                    </select>
                <button type="submit" style="width: auto; margin-top: 2rem; margin-bottom: 0.5rem;" class="btn btn-outline-info">Submit</button>
            </form>
        </div>

{% endblock %}