{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">&emsp; Daftar Transaksi &emsp;</h1>
    <hr class="my-4">
    <div class="col-sm text-center">
        <table border="1" style="width: 100%" align="center">
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th>Total Biaya</th>
                <th>Waktu Pembayaran</th>
                <th>Nomor Rekam Medis Pasien</th>
                {% if request.session.role == "admin" %}
                <th>Action</th>
                {% endif %}
            </tr>
                {% for i in transaksi %}
                <tr>
                    {% csrf_token %}
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td>Rp {{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>
                        {% if request.session.role == "admin" %}
                        <td><div class="pi-draggable btn-group" draggable="true">
                            <form action="/update_transaksi/{{i.0}}/" method="GET">
                                {% csrf_token %}
                                    <input class="btn btn-primary btn-sm mt-3" type="submit" value="Update"/>
                                </form>
                            <form action="/delete_transaksi/{{i.0}}/" method="POST">
                                {% csrf_token %}
                                    <input class="btn btn-danger btn-sm mt-3" type="submit" value="Delete"/>
                                {% endif %}
                                </form>
                            </div>
                        </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    </div>
{% endblock %}