{% extends "base.html" %}
{% load static %}

{% block additionalHeader %}
    <title>Update Transaksi</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Form Update Transaksi</h1>
        <hr class="my-4">

        <h3 class="modal-title">Update Transaksi</h3>
            <div class="modal-body">
                <form class = "text-left" method="POST" action="/update_information_transaksi/{{data.id_transaksi}}/">
<!--                 <form class = "text-left" method="POST" action="update_information/{{data.id_transaksi}}/"> -->
                {% csrf_token %}
                    <div class="form-group"> 
                        <label>ID Transaksi:</label> 
                        <input class="form-control" value= {{data.id_transaksi}} name="id_transaksi" readonly>  </div>
                    
                    <div class="form-group"> 
                        <label>Tanggal:</label> 
                        <input class="form-control" value= {{data.tanggal}} name="tanggal">  </div>
                    
                    <div class="form-group"> 
                        <label>Status:</label> 
                        <input class="form-control" value= {{data.status}} name="status"> </div>
                    
                    <div class="form-group"> 
                        <label>Total Biaya:</label> 
                        <input class="form-control" value= {{data.total_biaya}} name="total_biaya" readonly type="number"> </div>
                    
                    <div class="form-group"> 
                        <label>Waktu Pembayaran:</label> 
                        <input class="form-control" value= {{data.waktu_pembayaran}} name="waktu_pembayaran"> </div>
                    
                    <div class="form-group"> 
                        <label>Nomor Rekam Medis Pasien:</label>
                         <input class="form-control" value= {{data.no_rekam_medis}} name="no_rekam_medis" readonly> </div>
                    
                    <button type="submit" style="width: auto; margin-top: 2rem; margin-bottom: 0.5rem;" class="btn btn-outline-info">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
  </div>
{% endblock %}