{% extends 'base.html' %}
{% load static %}
{% block additionalHeader %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    <title>Choose Your Role!</title>
{% endblock %}

{% block content %}
        <h1>What role would you like to register as?</h1>
        <div>
            <br><br>
          <p>
            <a class="btn btn-info" href="{% url 'signup_admin' %}" >Administrator</a>
            <a class="btn btn-primary"  href="{% url 'signup_dokter' %}">Dokter</a>
            <a class="btn btn-info"  href="{% url 'signup_pasien' %}">Pasien</a>
          </p>
        </div>
{% endblock %}