{% extends 'base.html' %}
{% load static %}
{% block additionalHeader %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    <title>Profile</title>
{% endblock %}

{% block content %}
        <h1>Hi, {{request.session.username}}</h1>
{% endblock %}