{% extends 'base.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
{% block additionalHeader %}
	<title>Sign Up</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up Admin</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
				<form>
<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
											{{ forms.username }}
<!-- 						<input type="text" class="form-control" placeholder="username"> -->
						
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
<!-- 						<input type="password" class="form-control" placeholder="password"> -->
												{{ forms.password }}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-address-card"></i></span>
						</div>
												{{ forms.no_identitas }}
<!-- 						<input type="text" class="form-control" placeholder="nomor identitas"> -->
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fas fa-user-alt"></i></span>
						</div>
<!-- 						<input type="name" class="form-control" placeholder="nama lengkap"> -->
												{{ forms.nama_lengkap }}
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
						</div>
												{{ forms.tanggal_lahir }}
<!-- 						<input type="date" class="form-control" placeholder="tanggal lahir"> -->
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
												{{ forms.email }}
<!-- 						<input type="email" class="form-control" placeholder="email"> -->
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
						</div>
												{{ forms.alamat }}
<!-- 						<input type="alamat" class="form-control" placeholder="alamat"> -->
                    </div>
                    <div class="form-group">
						<input type="submit" value="SignUp" class="btn float-right login_btn">
                    </div>
				</form>
				<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?&nbsp;
					<br>
					<a href="{% url 'loginpage' %}">Login Here</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
