{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Form Pembuatan Rumah Sakit Cabang</h1>
        <hr class="my-4">

        <form method="post" class="post-form" action="/buat-rs-cabang/">
            {% csrf_token %}
            <div class="container">
                <label>Kode RS Cabang</label>
                <input class="form-control" name="kode_rs" value={{ data.kode_rs }}>

                <label>Nama</label>
                <input class="form-control" name="nama" value={{ data.nama }}>

                <label>Tanggal Pendirian</label>
                <input type="date" class="form-control" name="tanggal_pendirian" value= {{ data.tanggal_pendirian }}>

                <label>Jalan</label>
                <input class="form-control" name="jalan" value={{ data.jalan }}>

                <label>Nomor</label>
                <input class="form-control" name="nomor" value={{ data.nomor }}>

                <label>Kota</label>
                <input class="form-control" name="kota" value={{ data.kota }}>
            </div>
            <br/>

            <p class="lead">
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}