{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">&emsp; Daftar Dokter Rumah Sakit Cabang &emsp;</h1>
    <hr class="my-4">

    <div class="col-sm text-center">
        <table border="1" style="width: 100%" align="center">
            <tr>
                <th>Kode RS Cabang</th>
                <th>ID Dokter</th>
                <th>Action [admin]</th>
            </tr>
            {% for i in daftar_dokter_rs_cabang %}
                <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td>{{ i.kode_rs }}</td>
                    <td>{{ i.id_dokter }}</td>
                    
                    <td>
                        <div class="pi-draggable btn-group" class="flex-item">
                            <a href="{% url 'update-dokter-rs-cabang' %}">
                                <button type="button" class="btn btn-primary">Update</button>
                            </a>
                            &emsp;
                            <a href="{% url 'delete-dokter-rs-cabang' %}">
                                <button type="button"class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </td>
                </form>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
{% endblock %}