{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Form Pembuatan Layanan Poliklinik</h1>
        <hr class="my-4">

        <form method="post" class="post-form" action="{% url 'daftar-rs-cabang' %}">
            {% csrf_token %}
            <div class="container">
                <table>
                    <tr>
                        {{ create_layanan_poliklinik_form.as_table }}
                    </tr>
                </table>
            </div>

            <p class="lead">
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}