{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">&emsp; Daftar Layanan Poliklinik &emsp;</h1>
    <hr class="my-4">

    <div class="col-sm text-center">
        <table border="1" style="width: 100%" align="center">
            <tr>
                <th>ID Poliklinik</th>
                <th>Kode RS</th>
                <th>Nama</th>
                <th>Deskripsi</th>
                <th>Jadwal Poliklinik</th>
                <th>Action [admin]</th>
            </tr>
            {% for i in daftar_layanan_poliklinik %}
                <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td>{{ i.id_poliklinik }}</td>
                    <td>{{ i.kode_rs }}</td>
                    <td>{{ i.nama }}</td>
                    <td>{{ i.Deskripsi }}</td>
                    
                    <td>
                        <div class="pi-draggable btn-group" class="flex-item">
                            <a href="{% url 'daftar-jadwal-poliklinik' %}">
                                <button type="button" class="btn btn-primary">Daftar Jadwal</button>
                            </a>
                        </div>
                    </td>
                    <td>
                        
                        <div class="pi-draggable btn-group" class="flex-item">
                            <a href="{% url 'update-layanan-poliklinik' %}">
                                <button type="button" class="btn btn-primary">Update</button>
                            </a>
                            &emsp;
                            <a href="{% url 'delete-layanan-poliklinik' %}">
                                <button type="button"class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </td>
                </form>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
{% endblock %}