{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">&emsp; Daftar Jadwal Poliklinik &emsp;</h1>
    <hr class="my-4">

    <div class="col-sm text-center">
        <table border="1" style="width: 100%" align="center">
            <tr>
                <th>ID Jadwal Poliklinik</th>
                <th>Waktu Mulai</th>
                <th>Waktu Selesai</th>
                <th>Hari</th>
                <th>Kapasitas</th>
                <th>ID Dokter </th>
                <th>ID Poliklinik</th>
                <th>Action [admin]</th>
            </tr>
            {% for i in daftar_jadwal_poliklinik %}
                <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td>{{ i.id_jadwal_poliklinik }}</td>
                    <td>{{ i.waktu_mulai }}</td>
                    <td>{{ i.waktu_selesai }}</td>
                    <td>{{ i.hari }}</td>
                    <td>{{ i.kapasitas }}</td>
                    <td>{{ i.id_dokter }}</td>
                    <td>{{ i.id_poliklinik }}</td>
                    
                    <td>
                        <div class="pi-draggable btn-group" class="flex-item">
                            <a href="{% url 'update-jadwal-poliklinik' %}">
                                <button type="button" class="btn btn-primary">Update</button>
                            </a>
                            &emsp;
                            <a href="{% url 'delete-jadwal-poliklinik' %}">
                                <button type="button"class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </td>
                </form>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
{% endblock %}