{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Rumah Sakit Cabang</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">&emsp; Form Update Jadwal Layanan Poliklinik &emsp;</h1>
    <hr class="my-4">

    <form method="post" class="post-form" action="">
        {% csrf_token %}
            <div class="container">
                <table>
                    <tr>
                        {{ update_form.as_table }}
                    </tr>
                </table>
            </div>

            <button type="submit" class="btn btn-outline-info">Update</button>
    </form>
</div>
{% endblock %}