{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Form Pembuatan Obat</h1>
    <hr class="my-4">
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'create_obat' %}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-3">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kode obat</label>
                    <div class="col-sm-4">
                        {{ form.kode }}
                    </div>
                </div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Stok obat</label>
                    <div class="col-sm-4">
						{{ form.stok }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Harga Obat</label>
                    <div class="col-sm-4">
						{{ form.harga }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Komposisi</label>
                    <div class="col-sm-4">
						{{ form.komposisi }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Bentuk Sediaan</label>
                    <div class="col-sm-4">
						{{ form.bentuk_sediaan }}
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Merk Dagang</label>
                    <div class="col-sm-4">
						{{ form.merk_dagang }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>

{% endblock %}