{% extends 'base.html' %}
{% load static %}

{% block content %}
        <h1>Daftar Obat</h1>
        <div class="col-md-12 text-center">
                <table border="1" style="width: 100%">
                    <thead>
                        <th>Kode</th>
                        <th>Stok</th>
                        <th>Harga</th>
                        <th>Komposisi</th>
                        <th>Bentuk Sediaan</th>
                        <th>Merk Dagang</th>
						<th>Action</th>
                    </thead>
                    <tbody>
                    {% for i in daftar_obat %}
                    <tr>
                        <form action="update_obat" method="POST" class="form-group">
                        {% csrf_token %}
                            <td>{{i.kode}}</td>
                            <td>{{i.stok}}</td>
                            <td>Rp{{i.harga}}</td>
                            <td>{{i.komposisi}}</td>
                            <td>{{i.bentuk_sediaan}}</td>
							<td>{{i.merk_dagang}}</td>
                        </form>
							<td>
                                <div class="pi-draggable btn-group" draggable="true">
                                    <form action="/update_obat/" method="POST" >
									{% csrf_token %}
									<input type="hidden" value="{{ i.kode }}" name="kode" />
									<input type="submit" value="Update" />
									</form>
                                    
									<form action="remove_obat/" method="POST" >
									{% csrf_token %}
									<input type="hidden" value="{{ i.kode }}" name="id" />
									<input type="submit" value="Delete" />
									</form>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}