{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Form Update Obat</h1>
    <hr class="my-4">
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'updating' %}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-3">

                    </div>
                </div>
	
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Stok</label>
                    <div class="col-sm-4">
                        {{ form.stok }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Harga</label>
                    <div class="col-sm-4">
                        {{ form.harga }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Komposisi</label>
                    <div class="col-sm-4">
                        {{ form.komposisi }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Bentuk Sediaan</label>
                    <div class="col-sm-4">
                        {{ form.bentuk_sediaan }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Merk Dagang</label>
                    <div class="col-sm-4">
                        {{ form.merk_dagang }}
                    </div>
                </div>             
            <button type="submit" class="btn btn-info">Submit</button>
			{{form.kode}}
        </form>
    </div>
{% endblock %}