{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Sesi Konsultasi</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> Form Reservasi Sesi Konsultasi</h1>
        <hr class="my-4">

        <form method="post" class="text-left" action="/buat-sesi-konsultasi/">
            {% csrf_token %}
            <div class="container">
                <label for="no_rekam_medis_dropdown">Nomor Rekam Medis Pasien</label>
                <select name="no_rekam_medis_dropdown" class="form-group form-control" id="no_rekam_medis_dropdown">
                    {% for i in data %}
                        <option value={{ i.0 }} > {{ i.0 }}</option>
                    {% endfor %}
                </select>

                <label>Tanggal</label>
                <input type="date" class="form-control" name="tanggal" value= {{ data.tanggal }}/>
                <br>

                <label for="id_transaksi_dropdown">ID Transaksi</label>
                <select name="id_transaksi_dropdown" class="form-group form-control">
                    {% for i in data_id_transaksi %}
                        <option value={{ i.0 }} > {{ i.0 }}</option>
                    {% endfor %}
                </select>
            </div>

            <p class="lead">
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}