{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Sesi Konsultasi</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">&emsp; Daftar Reservasi Sesi Konsultasi &emsp;</h1>
    <hr class="my-4">

    <div class="col-sm text-center">
        <table border="1" style="width: 100%" align="center">
            <tr>
                <th>ID Konsultasi</th>
                <th>Nomor Pasien</th>
                <th>Tanggal</th>
                <th>Biaya</th>
                <th>Status</th>
                <th>ID Transaksi</th>
            {% if request.session.role == "admin" %}
                <th>Action</th>
            {% endif %}
            </tr>
            {% for i in sesi_konsultasi %}
                <tr>
                    {% csrf_token %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>Rp{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                {% if request.session.role == "admin" %}
                    <td>
                        <div class="pi-draggable btn-group" class="flex-item">
                            <form action="/update-sesi-konsultasi/{{ i.0 }}/" method="GET">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Update"/>
                            </form> &ensp;
                            <form action="/delete-sesi-konsultasi/{{ i.0 }}/" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            {% endif %}
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
{% endblock %}