{% extends 'base.html' %}
{% load static %}

{% block additionalHeader %}
    <title>Sesi Konsultasi</title>
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">&emsp; Update Reservasi Sesi Konsultasi &emsp;</h1>
    <hr class="my-4">

    <form method="post" class="text-left" action="/update-information-sesi-konsultasi/{{ data.id_konsultasi }}/">
        {% csrf_token %}
            <div class="form-group">
                <label>ID Konsultasi</label>
                <input class="form-control" value={{ data.id_konsultasi }}
                name="id_konsultasi" readonly>
                <br/>

                <label>Nomor Rekam Medis Pasien</label>
                <input class="form-control" value={{ data.no_rekam_medis_pasien }}
                name="no_rekam_medis_pasien" readonly>
                <br/>

                <label>Tanggal</label>
                <input class="form-control" value={{ data.tanggal }}
                name="tanggal" type="date">
                <br/>

                <label>Biaya</label>
                <input class="form-control" value={{ data.biaya }}
                name="biaya" readonly>
                <br/>

                <label>Status</label>
                <input class="form-control" value={{ data.status }}
                name="status">
                <br/>

                <label>ID Transaksi</label>
                <input class="form-control" value={{ data.id_transaksi }}
                name="id_transaksi" readonly>
                <br/>
            </div>

            <button type="submit" class="btn btn-outline-info">Update</button>
    </form>
</div>
{% endblock %}