{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        body {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            min-width: 100vw;
            max-width: 100%;
            overflow-x: hidden;
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>

    {% block additionalHeaders %}

    {% endblock %}

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static '/css/home.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light py-3" id="mainNav">
    <div class="container">
<!--           <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Medika Go</a> -->
          <a class="navbar-brand js-scroll-trigger">Medika Go</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

        {% if request.session.user %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto my-2 my-lg-0">

                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sesi Konsultasi</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'buat-sesi-konsultasi' %}">Buat Sesi Konsultasi</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar-sesi-konsultasi' %}">Daftar Sesi Konsultasi</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Poliklinik</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'buat-layanan-poliklinik' %}">Buat Layanan Poliklinik</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar-layanan-poliklinik' %}">Daftar Layanan Poliklinik</a>
                      {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar-jadwal-poliklinik' %}">Daftar Jadwal Poliklinik</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RS Cabang</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'buat-rs-cabang' %}">Buat RS Cabang</a>
                        {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar-rs-cabang' %}">Daftar RS Cabang</a>
                          <div class="dropdown-divider"></div>
                        {% if request.session.role == "admin" %}
                          <a class="dropdown-item">Daftarkan Dokter</a>
                        {% endif %}
                          <div class="dropdown-divider"></div>
                        {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'daftarkan-dokter-rs-cabang' %}">Daftarkan Dokter ke RS Cabang</a>
                        {% endif %}
                          <div class="dropdown-divider"> </div>
                          <a class="dropdown-item" href="{% url 'daftar-dokter-rs-cabang' %}">Daftar Dokter RS Cabang</a>
                          <div class="dropdown-divider"></div>
                          {% if request.session.role == "admin" %}
                          <a class="dropdown-item">Daftar Administrator</a>
                          {% endif %}
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tindakan</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if request.session.role == "admin" %}
                          <a class="dropdown-item">Buat Tindakan</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Daftar Tindakan</a>
                          <div class="dropdown-divider"></div>
                          {% if request.session.role == "admin" %}
                          <a class="dropdown-item">Buat Tindakan Poliklinik</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Daftar Tindakan Poliklinik</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resep dan Obat</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'create_resep' %}">Buat Resep</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar_resep' %}">Daftar Resep</a>
                          <div class="dropdown-divider"></div>
                          {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'create_obat' %}">Buat Obat</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar_obat' %}">Daftar Obat</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaksi</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.session.role == "admin" %}
                          <a class="dropdown-item" href="{% url 'create_transaksi' %}">Buat Transaksi</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'daftar_transaksi' %}">Daftar Transaksi</a>
                      </div>
                  </li>

<!--                   <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'choice' %}">Sign Up</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'loginpage' %}">Sign In</a>
                  </li> -->

                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% endif %}
              </ul>
          </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
